.app {


}

.title-bar {
  height: 8rem;
  background-color: orange;
}

.container {
  display: flex;


  height: calc(100vh - 8rem);
}

.tool-bar {
  height: 100%;
  width: 10rem;
  background-color: blue;
}

.content {
  height: 100%;
  width: 100%;

  background-color: aqua;
}

.inspector {
  height: 100%;
  width: 12rem;
  background-color: grey;
}
